.text_style {
    width: 151px;
    height: 43px;
    flex-shrink: 0;
    color: #000;
    font-family: Raleway;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
